extends ./header.pug
block append head 
  link(href='/public/css/viewProducts.css', rel='stylesheet')
block content
  .container-fluid
   h2 UPDATE BLOG
   <br>
   form(action="/admin/blogs" method="POST")
     <div class="input-group">
        <div class="form-outline">
            <input name="title" type="search" id="form1" class="form-control" />
            <label class="form-label" for="title">Search by Blog Title</label>
        </div>
        <button style="height:40px; margin-left:5px;" type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
     </div>
   <br>
   if blogs != null 
      table.table.table-hover
        tr 
            th Blog Title
            th Blog author 
            th Edit Blog
        each blog in blogs
            tr 
                td 
                    = blog.title
                td 
                    = blog.author
                td 
                    a(href="/admin/blogs/"+blog._id) Edit
   else
      p No blogs found
  -var n = 1
  div.flex-container
    p Pages:
    while n <= page_count
      if n == cur_page
        a(href="blogs?page="+n id="active")
          = n
      else 
        a(href="blogs?page="+n)
          = n
      -n = n + 1
