extends ./header.pug
block append head 
  link(href='/public/css/viewProducts.css', rel='stylesheet')
block content
  .container-fluid
   h2 UPDATE Developements 
   <br>
   form(action="/admin/addDev" method="POST")
     <div class="input-group">
        <div class="form-outline">
            <input name="title" type="search" id="form1" class="form-control" />
            <label class="form-label" for="title">Search by Develeopement Title</label>
        </div>
        <button style="height:40px; margin-left:5px;" type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
     </div>
   <br>
   if Devs  != null 
      table.table.table-hover
        tr 
            th Devlopement  Title
            th Devlopement Blog
        each Dev in Devs 
            tr 
                td 
                    = Dev.title
                td 
                    a(href="/admin/viewDev/"+Dev._id) Edit
   else
      p No New Developement  found
  -var n = 1
  div.flex-container
    p Pages:
    while n <= page_count
      if n == cur_page
        a(href="viewDev?page="+n id="active")
          = n
      else 
        a(href="viewDev?page="+n)
          = n
      -n = n + 1
