//
  VIEW IN FULL SCREEN MODE
  FULL SCREEN MODE: http://salehriaz.com/404Page/404.html
  DRIBBBLE: https://dribbble.com/shots/4330167-404-Page-Lost-In-Space
link(href='/public/css/404.css' rel='stylesheet')
//
  VIEW IN FULL SCREEN MODE
  FULL SCREEN MODE: http://salehriaz.com/404Page/404.html
  DRIBBBLE: https://dribbble.com/shots/4330167-404-Page-Lost-In-Space
.stars
  .custom-navbar
    
  .central-body
    img.image-404(src='http://salehriaz.com/404Page/img/404.svg' width='300px')
    a.btn-go-home(href='/') GO BACK HOME
  .objects
    img.object_rocket(src='http://salehriaz.com/404Page/img/rocket.svg' width='40px')
    .earth-moon
      img.object_earth(src='http://salehriaz.com/404Page/img/earth.svg' width='100px')
      img.object_moon(src='http://salehriaz.com/404Page/img/moon.svg' width='80px')
    .box_astronaut
      img.object_astronaut(src='http://salehriaz.com/404Page/img/astronaut.svg' width='140px')
  .glowing_stars
    .star
    .star
    .star
    .star
    .star
