extends ./header.pug
block content
  .mt-3 
    main#main
      // ======= Breadcrumbs =======
      section.breadcrumbs
        .container
          ol
            li
              a(href='index.html') Home
            li Careers
          h2 Careers at KVAR TECH
      // End Breadcrumbs
      // Job Detail Start
      .container-xxl.py-5.wow.fadeInUp(data-wow-delay='0.1s')
        .container
          .row.gy-5.gx-4
            .col-lg-8
              .d-flex.align-items-center.mb-5
                img.flex-shrink-0.img-fluid.border.rounded(src='../public/Careers/'+career.image[0].filename alt='' style='width: 80px; height: 80px;')
                .text-start.ps-4
                  h3.mb-3 
                   =career.title
                  span.text-truncate.me-3
                    i.fa.fa-map-marker-alt.text-primary.me-2
                    | Mumbai, India
                  span.text-truncate.me-3
                    i.far.fa-clock.text-primary.me-2
                    =career.type
                  span.text-truncate.me-0
                    i.far.fa-money-bill-alt.text-primary.me-2
                    =career.Salary
              .mb-5
                h4.mb-3 Job description
                p
                  =career.description
                h4.mb-3 Responsibility
                p
                  =career.responsibility
                h4.mb-3 Qualifications
                p
                  =career.qualification
              div
                h4.mb-4 Apply For The Job
                form.php-email-form(action='/sendEmail2' method='post')
                 .row.g-3
                   .col-12.col-sm-6
                     input.form-control(type='text' name='name' placeholder='Your Name')
                   .col-12.col-sm-6
                     input.form-control(type='email' name='email' placeholder='Your Email')
                   .col-12.col-sm-6
                     input.form-control(type='text' name='subject' placeholder='Interested Job Profile')
                   .col-12.col-sm-6
                     input.form-control.bg-white(name='resume' type='file')
                   .col-12
                     textarea.form-control(rows='5' name='message' placeholder='Pls do Enter your name, Contact no ')
                   .col-md-12.text-center
                     h4 Please answer below question for human verification 
                     h5 
                      = question
                   input(type="hidden" name="questionIndex" required='' value=questionIndex)
                   .col-md-12
                     textarea.form-control(name='answer' rows='1' placeholder='Answer' required='')
                   .col-md-12.text-center
                    button.btn.btn-primary.w-100(type='submit') Apply Now
            .col-lg-4
              .bg-light.rounded.p-5.mb-4.wow.slideInUp(data-wow-delay='0.1s')
                h4.mb-4 Job Summery
                p
                  i.fa.fa-angle-right.text-primary.me-2
                  | Vacancy:
                  =career.Vacancy
                p
                  i.fa.fa-angle-right.text-primary.me-2
                  | Job Nature:
                  =career.type
                p
                  i.fa.fa-angle-right.text-primary.me-2
                  | Salary:
                  =career.Salary
                p
                  i.fa.fa-angle-right.text-primary.me-2
                  | Location: Mumbai, India
                p.m-0
                  i.fa.fa-angle-right.text-primary.me-2
                  | Published on:
                  =career.date
              .bg-light.rounded.p-5.wow.slideInUp(data-wow-delay='0.1s')
                h4.mb-4 Company Detail
                p.m-0
                  | KVAR Technologies is engaged in the design, development and manufacture of embedded / micro controller based products primarily for industrial applications.
                  | Having worked in this field for more than 35 years, we provide solutions for various control requirements in the process control industry. We manufacture electronic systems for automobile, industrial, medical, infrastructure and telecommunication applications.
      // Job Detail End
    // End #main
