extends ./header.pug
block content
 style.
  .navbar .megamenu{ padding: 1rem; }
  /* ============ desktop view ============ */
  @media all and (min-width: 992px) {
  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:-159%; right:0; width:280%; margin-top:50px;  }
  }
  /* ============ desktop view .end// ============ */
  /* ============ mobile view ============ */
  @media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
  overflow-y: auto;
  max-height: 90vh;
  margin-top:15px;
  }
  }
  /* ============ mobile view .end// ============ */
 main#main
  // ======= Breadcrumbs =======
  section.breadcrumbs
    .container
      ol
        li
          a(href='/') Home
        li
          = product.category
      h2 
        = product.name
  // End Breadcrumbs
  // ======= Portfolio Details Section =======
  //===send mail form
  form(action = "/products/"+product._id, enctype="multipart/form-data" method = "POST")
   section#portfolio-details.portfolio-details
     .container
       .row.gy-4
         .col-lg-5
           .portfolio-details-slider.swiper
             .swiper-wrapper.align-items-center
               each image in product.images
                .swiper-slide
                  img(src='/public/img/'+image.filename alt='')
             .swiper-pagination
         .col-lg-7
           .portfolio-description
             h2 
                 = product.name
                 button.btn
                   a(href="/public/brochures/"+product.brochure download)
                     i.fa.fa-download
                     |  Download Brochure
             p
                = product.description
         table
            thead
              tr
                th Type
                th Details
            tbody
             each val,key in product.details
              tr
                td(data-column='Type') 
                  = key
                td(data-column='Details')
                  = val
  // End Portfolio Details Section
 style.
  table {
  width: 750px;
  border-collapse: collapse;
  margin:50px auto;
  }
  .container.Giru {
    padding: 0 50px;
    
  }
  /* Zebra striping */
  tr:nth-of-type(odd) {
  background: #eee;
  }
  th {
  background: #012970;
  color: white;
  font-weight: bold;
  }
  td, th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
  }
  /*
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
  @media
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
  table {
  width: 100%;
  }
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
  display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
  }
  tr { border: 1px solid #ccc; }
  td {
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
  }
  td:before {
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  /* Label the data */
  content: attr(data-column);
  color: #000;
  font-weight: bold;
  }
  
  
  }
  
 if product.models
  section#portfolio-details.portfolio-details
   header.section-header
   .row.gy-3.icon-box(data-aos='fade-up' data-aos-delay='200')
     .container.Giru
      .row.gy-4
       each model in product.models
        .col-lg-3.col-md-3(data-aos='fade-up' data-aos-delay='200')
          .card
           br
           center 
            img.img-fluid(src='/public/img/'+model.images[0].filename alt='' width='250' height='500' )
            br
            center 
              .col-lg-10
               .row.gy-4
                .portfolio-description(align='center')
                  h3 
                    = model.name
                  .card-body
                    p.card-text
                    -let x = model.description.split("\n")
                    each line in x
                      p(align='left')
                        = line
                          


      