.flex-container{
    display: flex;
    flex-direction: row;
    float: right;
    margin: auto;
  }
  
  .flex-container a{
    background-color: blue;
    margin: 5px;
    padding:5px 10px 5px 10px;
    color: white;
  }
  
  .flex-container a:hover{
    background-color: green;
  }
  
  .flex-container p{
    text-align: center;
    padding-top: 7px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  #active{
    background-color: green;
  }

button:hover{
    background-color: blue;
}

#xyz i {
  margin-left: -30px;
  cursor: pointer;
}