textarea {
    width: 350px;
    height: 250px;
  }

#category {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom:10px; 
  border-radius:10px;
}

#category label{
  color:black;
  opacity:0.8;
}

#category h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#category button:hover{
    background-color: blue;
}